/* CSS Document */
* {
font-family: 'Roboto', sans-serif;
 }
 
body {
margin: 0;
}

header {
text-align: center;
padding-top: 47px;
padding-bottom: 15px;
}

h2{
font-weight: bold;
letter-spacing: 5px;
}

h4{
font-weight: bold;
}

p {
    font-size: 13px;
    line-height: 1.6 ;
}

header a {
  color: rgb(96, 94, 94);
  width: 100%;
  display: inline;
  padding: 20 20 20 20;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: rgb(56, 42, 42);
  background-color: #e6b5b8; 
  
}


.name {
    margin: 0px;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: #e6b5b8;
    color: rgb(56, 42, 42);
    padding: 35 0;
    font-weight: bold;
    letter-spacing: 5px;
    
}

.omne {
display: flex;
margin-top: 35px;
}



.omnetext {
width: 500px;
margin-left: 20%;
line-height: 1.6;
}

.studium {
  width: 100%;
  margin-top: 40px;
  display: flex; 
  max-width: 1000px; 
  margin: auto;
}

.studium2 { 
    margin: 20 auto;;
    text-align: center;
    width: 250px;
}

.studium2 p {
    font-size: 13px;
    line-height: 0.9;
}

.circle {
  width: 220px;
  height: 220px;
  line-height: 220px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin:auto;
}

.praca {
width: 100%;
margin-top: 20px;
padding-top:10px;
padding-bottom:20px;
background-color: #01657d;
color: white;
}

.praca h5 {
line-height: 1px;
}

.praca p {
    font-size: 13px;
    line-height: 1.4;
}

.kocka { 
    margin: 10px;
    text-align: center;
    width: 25%;
    border: 3px solid white;
    padding: 10px;
}

.swiper {
  width: 700px;
  height: 300px;
}

.kocka2 {
    text-align: center;
    width: 400px;
    height: 250px;
    border: 3px solid white;
    padding: 10px;
    margin:auto;
}

.znalosti{
    margin: 20px;
    padding-bottom: 80px;
}

.box_item {
background-repeat: no-repeat;
color: black; 
background-position: center;
background-size:cover;

}

.box_item:hover {
    font-size:0;
    background-color: #01657d;
    color: white;
    height: 100%;
    margin: auto;
    text-align: center;
    transition: backgroud 0.5s;
}

.box_item:hover:after {
    content: attr(data-hover);
    font-size: 15px;
    align-items: center;
    margin: auto;
    position: relative;
    top: 28%;
    padding: 0px 10px;
    
}

.container .cell {
    padding:0px;
}

/*
.container {
width: 80%;
margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.cell {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.cell-1 {
  background: #f3acae;
}
.cell-2 {
  background: #da8d95;
}
.cell-3 {
  background: #c07180;
}
.cell-4 {
  background: #a7586d;
}
.cell-5 {
  background: #8e425c;
}
.cell-6 {
  background: #742f4c;
}
.cell-7 {
  background: #f3acae;
}
.cell-8 {
  background: #da8d95;
}
.cell-9 {
  background: #c07180;
}
.cell-10 {
  background: #a7586d;
}
.cell-11 {
  background: #8e425c;
}
.cell-12 {
  background: #742f4c;
}
*/

.container {
border: 2px solid  #01657d;
width: 80%;
margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.cell {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border:2px solid #01657d;
}


.certifikaty {
max-width: 65%;
display: flex;
margin:80 auto;
}


.certifikaty_nadpis {
max-width: 400px;
text-align:center;
padding-right:100px;
}

.certifikaty_ostatne {
margin: 0 20;
}

.certifikaty_items {
display:flex; 
margin-left:auto;
}

.certifikaty_ostatne h4 {
text-align:center;
}

.certifikaty button{
width: 170px;
height: 40px;
background-color: #feb500;
border: 1px solid #feb500;
margin: auto;
}

.certifikaty a {
text-decoration-line: none;
color: black;
}


footer {
    background-color: #e6b5b8;
}

.footer_main {
display:flex; 
margin:auto; 
width:60%; 
justify-content: space-between;
}

.footer_menu {
font-weight:bold;
color:black;
}



footer a {
color:black;
text-decoration: none;
}


.fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size:20px
}

.fa:hover {
    opacity: 0.7;
}

.fa:before {
    font-size:20px
}



@media only screen and (max-width: 768px) { 

    .certifikaty {
      display:block; 
   
  }

  .certifikaty_items {
      display:block;
    text-align:center;
  }
  
  .certifikaty_nadpis {
    padding-right: 0px;
}

    .certifikaty button {
    width: maxcontent;
    }

    .kocka2 {
    width: 250px;
    }
    
    .swiper-button-prev {
    display: none;
    }
    
    .swiper-button-next {
    display:none;
    }
    
   .omne {
    display:block;
    margin: 0px;
    }
    
    .omne img {
       width: 100%;
    object-fit: cover;
    height: 300px;
    object-position: center;
    }
    
    .omnetext {
    width: 90%;
    margin: auto;
    }
    
    .omnetext h2 {
    text-align: center;
    }
    
    .studium {
    display: block;
    }
    
    .circle {
    margin-top: 40px;
    }
    
    .container {
        display: block;
    }
    
    .box_item: {
    height:150px;
    }
    
    .box_item:hover {
    height: 130px;
    }
    
    .box_item:hover:after {
    align-items: center;
    margin: auto;
    position: relative;
    top: 28%;
    padding: 0px 10px;
    }
    
    .footer_main {
    display: block;
    margin: auto;
    width: 90%;
    }
    
    .footer_menu {
    display: none;
    }
    
    .footer_contact {
    padding-top: 15px;
    text-align: center;
    }
    
    .footer_logos {
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    }
    
    header {
    display: none;
    }
    
    .swiper-button-prev:after {
    display: none;
    }
    
    .swiper-button-next:after {
    display: none;
    }
    
  }